<!-- info section -->
<section class="info_section layout_padding">
  <div class="container">
    <div class="info_social">
      <div>
        <a href="">
          <img src="images/fb.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/twitter.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/linkedin.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/insta.png" alt="" />
        </a>
      </div>
    </div>
    <div>
      <!-- <p>
        CoreIC is a semiconductor design and embedded system solutions company
        with 900+ technology specialists located across the globe, empowering
        digital infrastructure of tomorrow.
      </p> -->
    </div>
  </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    &copy; <%= new Date().getFullYear(); %> All Rights Reserved By
    <a href="https://daivic.com/">CoreIC</a>
  </p>
</section>
