<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" width="10px" alt="" />
        <span> CoreIC </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About </a>
            </li>
            <li class="nav-item">
              <button class="nav-link dropdown" disabled href="service">
                Services
              </button>
              <div class="dropdown-content">
                <a href="asicdesign"
                  >ASIC Design, Verification,
                  GLS, SystemC and AMS</a
                >
                <a href="#"
                  >FPGA Design, Emulation and Post-Silicon Validation</a
                >
                <a href="/analog"
                  >Analog Design & Layout Std. Cells, Memories and IOs</a
                >
                <a href="/physical">Physical Design, STA & DFT</a>
                <a href="#">Embedded system</a>
              </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="portfolio">Industries</a>
              </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="news"> News </a>
              </li> -->
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="quote_btn-container d-flex justify-content-center">
          <a href="">
            <img src="images/call.png" alt="" />
            CALL : +91 8951098957
          </a>
          <a href="">
            <span>
              <img src="images/envelope-solid.svg" width="18px" alt="" />
            </span>
            info@coreictech.com
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
