<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                daivic
              </h2>
              <hr>
            </div>
            <p>
                Daivic is a technology design services company with a high level
                of expertise in semiconductor design and embedded software
                development including applications. Our team of engineers have
                successfully delivered multiple ASIC design tape-outs in
                advanced technology nodes all the way to 5nm. Recognized as one
                of India’s fastest growing technology companies, with a strong
                team of domain experts, we offer consulting services for ASIC
                Digital Design and Verification, DFT and Physical design, Analog
                design, Embedded Application Software, Embedded Firmware and
                Product design and Solutions.
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end about section -->