<section class="layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>Analog Design & Layout Std. Cells, Memories an IOs</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          Analog circuit design/ Layout services based on different requirements
          to develop circuit blocks or subsystems integrated into a larger
          customer-designed chip
          <br />
          <br />
          Expertise in Layout of analog components like ADC, DAC, PLL, Bandgap,
          Power regulators etc.
          <br />
          <br />
          Good experience in standard cell solutions, Memory solutions, IO
          Solutions etc.
          <br /><br />
          <h5 style="font-weight: bold">
            Complete Analog Design life-cycle from specs to post-silicon
            validation
          </h5>
        </div>
        <div class="col-md-5">
          <img src="images/analog-layout.png" width="450px" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
