<section class="layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>ASIC Design</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          The global ASIC Design Service market size is projected to reach USD
          million by 2028, from USD million in 2021, at a CAGR of % during
          2022-2028. Developing high quality RTL is challenging, because the
          chip needs to be low on area and power consumption and at the same
          time provide adequate performance. To overcome this, we leverage
          dozens of years’ experience of our team and follow stringent design
          checklist. We can help with a solution that addresses the unique
          problem you are trying to solve. Expertise in Front-end RTL design and
          SoC integration of multi-million gates IPs and SoCs for a variety of
          industry verticals like mobile, processors, networking and multimedia.
        </div>
        <div class="col-md-5">
          <img src="images/blog1.png" width="400px" alt="" />
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>RTL Design</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          Our team of experienced design engineers, complemented by a group of
          mid-level engineers have worked on multiple aspects of the RTL design
          flow on chips used in the automotive, mobile, networking, multimedia
          and processor industries. The following schematic demonstrates how
          Daivic’s expertise helps the pieces of the jigsaw fall into place.
        </div>
        <div class="col-md-5">
          <img
            src="https://mirafra.com/wp-content/uploads/2021/04/rdvgls-21.png"
            width="300px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>VERIFICATION</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          Daivic’s verification team has proven expertise on taking complete
          ownership of verification of a design from scratch – whether that is
          an IP/SOC/subsystem – and taking it to verification closure by
          performing the following activities:
          <br />
          <br />
          <ul>
            <li>
              Understanding the design specification document and creating the
              test plan
            </li>
            <li>
              Creating the complete verification environment using industry
              standard methodologies like UVM/OVM/VMM
            </li>
            <li>
              Executing the test plan by using an intelligent mix of constraint
              random, directed and random test cases
            </li>
            <li>Gate level simulations</li>
            <li>
              Verification closure through corner case verification, coverage
              closure and regression closure
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <img
            src="https://mirafra.com/wp-content/uploads/2021/04/dia02.jpg"
            width="350px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>SYSTEMC VERIFICATION</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-8">
          Daivic has a small but capable team with hands-on expertise in various
          aspects of the chip design flow where SystemC plays a critical role.
          They are represented in the chart below.
        </div>
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://mirafra.com/wp-content/uploads/2021/04/rtl-design2.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4">
            <img
              src="https://mirafra.com/wp-content/uploads/2021/04/rtl_0002.png"
              alt=""
            />
          </div>
          <div class="col-md-4">
            <img
              src="https://mirafra.com/wp-content/uploads/2021/04/rtl_002.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>ANALOG & MIXED SIGNAL VERIFICATION</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-10">
          The AMS verification team at Mirafra has the skillsets required to
          execute on:
          <br />
          <br />
          <ul>
            <li>Analog/mixed-signal block simulations</li>
            <li>
              Modelling of analog and mixed signal blocks using Verilog-AMS
            </li>
            <li>Creating digital mixed signal test benches</li>
            <li>
              Comprehensive AMS full chip verification of mixed signal ASICs.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
