<section class="layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>ASIC Design</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          Expertise in Front-end RTL design and SoC integration of multi-million
          gates IPs and SoCs for a variety of industry verticals like mobile,
          processors, networking and multimedia.
        </div>
        <div class="col-md-5">
          <img src="images/blog1.png" width="400px" alt="" />
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>VERIFICATION</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          CoreIC verification team has expertise on taking ownership of
          verification of a design from scratch – whether that is an
          IP/SOC/subsystem and taking it to verification closure.
          <br />
          <br />
          <ul>
            <li>
              Understanding the design architecture specification and creating
              the verification Plan, Environment, Test Bench Development.
            </li>
            <li>SV-UVM Based Random Verification at IP/SS/SOC.</li>
            <li>C-Based verification at SOC level.</li>
            <li>Low Power Verification using CPF & UPF.</li>
            <li>Gate Level simulation</li>
            <li>Assertion based Formal Verification using SVA &amp; PSL</li>
            <li>VIP Development and Integration.</li>
            <li>
              Analog/mixed-signal block simulations, Modelling of analog and
              mixed signal blocks using Verilog-AMS.
            </li>
            <li>
              Verification closure through corner case verification, coverage
              closure and regression closure
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <img src="/images/verification.png" width="450px" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
