<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="slider_bg-container"></div>
      <div class="slider-container">
        <div class="detail-box">
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="sr-only">Next</span>
          </a>
          <h1>
            A HOLISTIC <br />
            SEMICONDUCTOR <br />
            SOLUTION PROVIDER
          </h1>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem
          </p>
          <div>
            <a href="contact" class="slider-link"> CONTACT US </a>
          </div>
        </div>
        <div class="img-box">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/semi2.jpg" height="90%" alt="" />
              </div>
              <div class="carousel-item">
                <img src="images/semi4.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="images/blog2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <h6>About</h6>
              <div class="custom_heading-container">
                <h2>daivic</h2>
                <hr />
              </div>
              <p>
                Daivic is a technology design services company with a high level
                of expertise in semiconductor design and embedded software
                development including applications. Our team of engineers have
                successfully delivered multiple ASIC design tape-outs in
                advanced technology nodes all the way to 5nm. Recognized as one
                of India’s fastest growing technology companies, with a strong
                team of domain experts, we offer consulting services for ASIC
                Digital Design and Verification, DFT and Physical design, Analog
                design, Embedded Application Software, Embedded Firmware and
                Product design and Solutions.
              </p>
              <div>
                <a href="about"> Read More </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/about-img.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- service section -->

    <%- include('services.ejs') %>

    <!-- end service section -->

    <!-- portfolio section -->

    <section class="portfolio_section">
      <div class="container">
        <div class="custom_heading-container">
          <h2>Our expertise</h2>
          <hr />
        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority
        </p>
        <div class="layout_padding2-top">
          <div class="row">
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert1.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert2.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert3.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert4.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert5.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-box">
                <img src="images/expert6.png" alt="" />
                <a href="">
                  <img src="images/link.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end portfolio section -->

    <!-- news section -->

    <!-- <section class="news_section layout_padding">
      <div class="container">
        <div class="d-flex flex-column align-items-end">
          <div class="custom_heading-container">
            <hr />
            <h2>Letest News</h2>
          </div>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/blog1.png" alt="" />
              </div>
              <div class="action-box">
                <div class="action">
                  <a href="">
                    <img src="images/like.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/comment.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/share.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="detail-box">
                <h4>Applications of VLSI in Robotics and Automation.</h4>
                <p>
                  VLSI (Very Large-Scale Integration) technology has played a
                  significant role in revolutionising robotics and automation.
                  The compactness, power efficiency, and...
                </p>
                <div>
                  <a href=""> Read More </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/blog2.png" alt="" />
              </div>
              <div class="action-box">
                <div class="action">
                  <a href="">
                    <img src="images/like.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/comment.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/share.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="detail-box">
                <h4>How Can Physical Design Optimize VLSI Performance?</h4>
                <p>
                  Are you curious about how a tiny chip can pack so much power
                  and performance? Well, the answer lies in the physical design
                  of Very Large Scale Integration (VLSI) circuits...
                </p>
                <div>
                  <a href=""> Read More </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/blog3.jpeg" alt="" />
              </div>
              <div class="action-box">
                <div class="action">
                  <a href="">
                    <img src="images/like.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/comment.png" alt="" />
                  </a>
                  <a href="">
                    <img src="images/share.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="detail-box">
                <h4>FinFET & Its Significance in Power Electronics</h4>
                <p>
                  Since the dawn of the electronics industry and throughout the
                  history of electronic circuits Moore’s Law had hold true every
                  time!...
                </p>
                <div>
                  <a href=""> Read More </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end news section -->

    <!-- subscribe section -->

    <!-- <section class="subscribe_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>
              subscribe our <br />
              <span> Newsletter </span>
            </h2>
          </div>
          <div class="col-md-8">
            <form action="">
              <input type="text" placeholder="Enter your email" />
              <button>Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end subscribe section -->

    <!-- client section -->

    <!-- <section class="client_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h2>Testimonials</h2>
          <hr />
        </div>
        <div class="client_container layout_padding-top">
          <div
            id="carouselExample2Controls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="box">
                  <div class="detail-box">
                    <p>
                      I joined Daivic in the hard times of the COVID-19 Crisis
                      and feel blessed to be a part of such a nice work culture.
                      The management is very amicable and ever-ready for
                      assistance. This is the best place (in my opinion) to
                      learn, evolve and prove your talent.
                    </p>
                  </div>
                  <div class="client-id">
                    <div class="img-box">
                      <img src="images/client.png" alt="" />
                    </div>
                    <div class="name">
                      <h5>Arnav Sumit</h5>
                      <h6>Associate Design Engineer - STA</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="box">
                  <div class="detail-box">
                    <p>
                      I have been associated with Daivic for almost two fruitful
                      years and the journey has been impeccably awesome! The
                      affable nature of the whole team makes the organization
                      feel like a close-knit family. Daivic is a great
                      organization for learning and implementation. It provides
                      us the ability to learn and translate those learning into
                      action – the biggest competitive advantage.
                    </p>
                  </div>
                  <div class="client-id">
                    <div class="img-box">
                      <img src="images/client.png" alt="" />
                    </div>
                    <div class="name">
                      <h5>Rishi Kirthi</h5>
                      <h6>Principal Engineer - Software</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="box">
                  <div class="detail-box">
                    <p>
                      Daivic is the best place for professionals looking for the
                      opportunities in VLSI domain. Amazing opportunities,
                      diversified work environments, and great leadership are
                      what make this organization unique in itself
                    </p>
                  </div>
                  <div class="client-id">
                    <div class="img-box">
                      <img src="images/client.png" alt="" />
                    </div>
                    <div class="name">
                      <h5>Harsh Vandana Sharma</h5>
                      <h6>Senior Manager - IPD</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExample2Controls"
              role="button"
              data-slide="prev"
            >
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExample2Controls"
              role="button"
              data-slide="next"
            >
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- end client section -->

    <%- include('contact.ejs') %>
  </body>
</html>
