<section class="layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>Physical Design, Signoff & PV</h2>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          Expertise in place & route for block build/full chip development with
          timing closure using industry-standard tools for tasks like Synthesis,
          Floor Plan, Placement, CTS, Signal Integrity, IR Draw, EM, Low Power
          Checks, and Signoff checks. Extensive Knowledge in physical
          verification like DRC, LVS, Antenna, and Density in the latest nodes.
          <br />
          <br />
          Having an in-depth knowledge and exposure in STA provides opportunity
          in exploring and understanding how other domains operate to design
          chip.
          <br />
          <br />
          <span style="font-weight: bold"
            >DFT scan insertion and Timing closure in Functional/Test
            modes.</span
          >
          <br /><br />
          <ul>
            <li>ATPG</li>
            <li>FPGA-to-FPGA, FPGA-to-ASIC, ASIC-to-FPGA conversion</li>
            <li>
              Test pattern generation and simulation,Coverage
              improvement,IDDQ,BIST,BSCAN,DFT Spyglass checks
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <img
            src="images/physical-design.jpg"
            width="450px"
            height="300px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
