<!-- service section -->

<section class="service_section layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr />
        <h2>business model</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="service_container layout_padding2">
      <a href="">
        <div class="box">
          <div class="img-box">
            <img
              src="images/user-tag.svg"
              width="60px"
              alt=""
              class="img-1"
            />
            <img
              src="images/user-tag-blue.svg"
              width="60px"
              alt=""
              class="img-2"
            />
          </div>
          <div class="name">
            <h6>Contract Staffing</h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img
              src="images/business-time-solid.svg"
              width="60px"
              alt=""
              class="img-1"
            />
            <img
              src="images/business-time-blue.svg"
              width="60px"
              alt=""
              class="img-2"
            />
          </div>
          <div class="name">
            <h6>Time and material model</h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img
              src="images/compass-drafting-solid.svg"
              width="60px"
              alt=""
              class="img-1"
            />
            <img
              src="images/compass-drafting-blue.svg"
              width="60px"
              alt=""
              class="img-2"
            />
          </div>
          <div class="name">
            <h6>Offshore Design Model</h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img
              src="images/key-solid.svg"
              width="60px"
              alt=""
              class="img-1"
            />
            <img
              src="images/key-blue.svg"
              width="60px"
              alt=""
              class="img-2"
            />
          </div>
          <div class="name">
            <h6>TurnKey model</h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img
              src="images/goal-blue.svg"
              width="60px"
              alt=""
              class="img-1"
            />
            <img src="images/goal.svg" width="60px" alt="" class="img-2" />
          </div>
          <div class="name">
            <h6>Goals</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="read-btn">
    <a href=""> Read More </a>
  </div>
</section>

<!-- end service section -->